
.jefes{
    padding: 60px 20px;
    text-align: center;
}

.jefes h2{
    font-size: 40px;
    color: #5F7D46;
    margin-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
}

.contenedor-jefes{
  background-color: #F5EBDD;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
     border-radius: 25px;
}

.card-jefe{
  border: 3px solid #7BA05B;
  background-color: rgb(246, 231, 219);
    width: 280px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease

}

.card-jefe:hover{
    transform: translateY(-8px);
}

.card-jefe img{
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.card-jefe h3{
    color: #7BA05B;
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.card-jefe p{
    color: #7D848C;
    font-size: 16px;
    line-height: 1.5;
}


body{ 
    background-color: #F5EBDD;
    margin: 0;
}

.Titulo{
    color: #5e975f;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.historia{
    color: #5e975f;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.subtitulo{
    text-align: center;
    color: #5e975f;
    font-family: 'Quicksand', sans-serif;
}

#Logo{
    width: 100px;
    height: 100px;
     
}

header{
    margin-top: 0;
}

nav{
 background-color: #6B8E6E;
    color: rgb(254, 255, 254);
    width: 100%;
    z-index: 10;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 650;
    justify-content: space-between;
    margin-right: 30px;
}

nav a{
    text-decoration: none;
    color: #FFFDF9; /* blanco suave */
    transition: 0.3s;
}

nav a:hover{
    color: #EADBC8; /* beige cálido */
}


/* RESPONSIVE */
@media(max-width: 600px){

    h1{
        font-size: 30px;
    }

    .texto{
        font-size: 16px;
    }

    .card h2{
        font-size: 20px;
    }

    button{
        font-size: 18px;
    }
}